<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="playersMain">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Data de Nascimento</th>
				<th>Gênero</th>
				<th>Altura</th>
				<th>É capitão?</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody th:each="player : ${players}">
			<tr>
				<td th:text="${player.name}"></td>
				<td th:text="${player.dateOfBirth}"></td>
				<td th:text="${player.genre}"></td>
				<td th:text="${player.hight}"></td>
				<td th:text="${player.capitain}"></td>
				<td th:text="${player.id}"></td>
				<td th:text="${player.id}"></td> 
			</tr>
		</tbody>
		</div>
		</html>