<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Parallax FF Template - Materialize</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>

	<article th:replace="commons/header :: header"></article>

	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br> <br>
				<h1 class="header center teal-text text-lighten-2"
					style="color: #986E3E !important;">Handebol</h1>
				<div class="row center">
					<h5 class="header col s12 light" style="color: #986E3E !important">Tudo
						o que você desja saber sobre o campeonato entre escolas de
						Handebol!!</h5>
				</div>
				<div class="row center"></div>
				<br> <br>
			</div>
		</div>
		<div class="parallax"
			style="opacity: 0.2 !important; filter: alpha(opacity = 50) !important;">
			<img th:src="@{/photos/time-de-handebol-min1.jpg}"
				alt="Unsplashed background img 1">
		</div>
	</div>


	<div class="container">
		<div th:replace="history/history:: history"></div>
	</div>
	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container"></div>
		</div>
		<div class="parallax">
			<img th:src="@{/photos/bola-de-handebol-min.jpg}"
				alt="Unsplashed background img 2">
		</div>
	</div>

	<article th:replace="commons/footer :: footer"></article>

	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script th:src="@{/js/materialize.js}"></script>
	<script th:src="@{/js/init.js}"></script>

</body>
</html>
